:local(.app) {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-width: 550px;
  max-width: 850px;
  margin: 0 auto;
}

:local(.background_color){
  background-color: #ee6e10;
}

:local(.width){
  width: 50px;
}
